<!DOCTYPE html>
<html>
<head>
  <link type="text/css" href="/stylesheets/main.css" />

</head>

<body>

<div class="container">

This is tic tac tow game
</div>
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="/js/game.js"></script>
</body>
</html>
